@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Outfit:wght@100;500&family=Readex+Pro:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Readex Pro", sans-serif;
  background: #f2fbf6;
}
.container {
  width: 80%;
  margin: 0 auto;
}
